/* Custom Child Style Sheet for Bootstrap */
/* Created by @theawkwardduck */

/* Styles title/artist vertically against the image in results page. */
.results-info {
	padding-left:80px;
	padding-top:6px;
	}
	
/* Moves the track/artist <h5> up in the table. */
table h5 {
	margin-top:0px;
	}
	
/* Makes mobile title blue */
.navbar .brand:hover {
	color:#777777;
	text-decoration: none;
	}
.navbar .brand {
	color:blue;
	text-decoration: none;
	}

/* Changes the width of navbar and dropdown to fit on a mobile browser */
.navbar .nav > li > a {
  padding: 10px 10px 10px 12px; 
  margin-left: 0px;
}

.navbar-inner {
  padding-right: 0px;
  padding-left: 5px;
}

.navbar .nav .divider-vertical {
  margin-right: -2px;
}